html,body{
    height:100%;
    margin:0px;
}


h1{
    color:blue;
}

h2{
    color : skyblue;
}

h3{
    color : bisque;
}

.floatLeft{
    float:left;
}

.floatRight{
    float:right;
}
.blueText{
    color:blue;
}

.redText{
    color:red;
}

.large{
    font-size:60px;
}

.noMargin{
    margin:0;
}

.icono{
   width: 14px;
   height : 14px;
   
}

.valor{
   width: 140px;
   border-bottom: 1px solid black;
   display : inline-block;
   text-align : center;
   
}

.gridBox{
    width:32%;
    border:1px solid black;
    float: left;
    height:20%;
    text-align:center;
}

.objetoBox:hover{
    opacity:0.5;
}

.cabezaBox{
    width:150px;
    border:1px solid black;
    float: left;
    height:149px;
    text-align:center;
    margin-left: 100px;
}
.torsoBox{
    width:110px;
    border:1px solid black;
    float: left;
    height:193px;
    text-align:center;
    margin-left: 1px;
    margin-top: 5px;
}

.piesBox{
    width:110px;
    border:1px solid black;
    float: left;
    height:130px;
    text-align:center;
    margin-left: 1px;
    margin-top: 5px;
}

.derechaBox{
    width:110px;
    border:1px solid black;
    float: left;
    height:193px;
    text-align:center;
    margin-left: 5px;
    margin-top: 5px;
}

.izquierdaBox{
    width:110px;
    border:1px solid black;
    float: left;
    height:193px;
    text-align:center;
    margin-left: 1px;
    margin-top: 5px;
}

.vehiculoBox{
    width:213px;
    border:1px solid black;
    float: left;
    height:130px;
    text-align:center;
    margin-left: 1px;
    margin-top: 5px;
}

.mascotaBox{
    width:110px;
    border:1px solid black;
    float: left;
    height:130px;
    text-align:center;
    margin-left: 5px;
    margin-top: 5px;
}

.bolsaBox{
    width:100px;
    border:1px solid black;
    float: left;
    height:193px;
    text-align:center;
    margin-left: 1px;
    margin-top: 5px;
}

#boxHolder{
    width:90%;
    margin:auto;
}


.iconoZona{
    float: left;
    margin-left: 5px;
}

#tercioArriba{
    width:450px;
    height: 150px;
    margin:auto;
    float: left;
    background-image: url("/design/img/botones/tercioArriba.png");
}

#tercioMedio{
    width:450px;
    height: 200px;
    margin:auto;
    float: left;
    background-image: url("/design/img/botones/terciomedio.png");
}

#tercioAbajo{
    width:450px;
    height: 150px;
    margin:auto;
    float: left;
    background-image: url("/design/img/botones/tercioAbajo.png");
}

#wrapper{
    width:90%;
    height:100%;
    display:flex;
    flex-direction: column;
    margin:auto;
    border-right:1px solid black;
    border-left:1px solid black;
}

#top{
    height:100px;
    background:#bababa;
    border-bottom:1px solid black;
}

#menuLateral{
    position: absolute;
    top: 101px;
    z-index: 100;
    width: 120px;
    min-height: 624px;
    background: url("/design/img/botones/corazon.png") /*repeat-y*/;
    background-position: top left;
    background-attachment: local;
    overflow: hidden;
}

#main{
    position : relative;
    margin-left : 120px;
    display : block;
    background:#dadada;
    flex-grow:1;
    overflow-y:auto;
    border-bottom:1px solid black;
    padding:5px;
}

#footer{
    background:#bababa;
    height:30px;
    text-align:center;
    line-height:30px;
}

#relojilloFooter{
    float : right;
    margin-right: 5px;
}

.ulMenuLateral{
    padding : 10;
    margin : 0;
}

.botonMenuLateral{
    margin-top: 10px;
}

#infoArriba{
  height:100px;
  width:500px;  
}

#OpcionesArriba{
    height:100px;
    width:400px;
}

#opcionesArriba button {
    width:100%;
}

.botonPersonaje{
    margin-top: 5px;
    height:100px;
    width:100px; 
    float:left;
}

.botonPersonajeImagen{
  background-image:url("/design/img/botones/miPersonaje.png");
  background-repeat:no-repeat;
  height:100px;
  width:100px;
  background-position:center;
}

.botonDarUnaVuelta{
    margin-top: 5px;
    height:100px;
    width:100px; 
    float:left;
}

.botonDarUnaVueltaImagen{
  background-image:url("/design/img/botones/darUnaVuelta.png");
  background-repeat:no-repeat;
  height:100px;
  width:100px;
  background-position:center;
}

.botonMensajes{
    margin-top: 5px;
    height:100px;
    width:100px; 
    float:left;
}

.botonMensajesImagen{
  background-image:url("/design/img/botones/mensajes.png");
  background-repeat:no-repeat;
  height:100px;
  width:100px;
  background-position:center;
}

.seccion1{
    border-radius: 15px 50px;
    background: yellow;
}

.seccion2{
    border-radius: 15px 50px;
    background: white;
}

.seccion3{
    border-radius: 15px 50px;
    background: white;
}

.botonAlbum{
    margin-top: 5px;
    height:100px;
    width:100px; 
    float:left;
}

.botonAlbumImagen{
  background-image:url("/design/img/botones/album.png");
  background-repeat:no-repeat;
  height:100px;
  width:100px;
  background-position:center;
}

.botonRanking{
    margin-top: 5px;
    height:100px;
    width:100px; 
    float:left;
}

.botonRankingImagen{
  background-image:url("/design/img/botones/ranking.png");
  background-repeat:no-repeat;
  height:100px;
  width:100px;
  background-position:center;
}

.botonManual{
   height:25px;
   width:50px;
   float:left; 
}

.botonLogout{
    height:50px;
    width:50px;
    float:right;
    background-image:url("/design/img/iconos/logout.png");
}

.botonAvances{
  background-image:url("/design/img/botones/avances.png");
  background-repeat:no-repeat;
  height:16px;
  width:16px;
  float:left;
  margin-right: 5px;
  background-position:center;
}

.botonAvances:hover{
    opacity:0.5;
}

.burbujaPersonaje{
   top:0px;
   height:100px;
   width:100px;
   float:left; 
}

.nombrePersonaje{
    top:0px;
    height:20px;
    width:100px;
    float:left;
}

.avatar{
   top:20px;
   height:58px;
   width:100px;
   float:left; 
}

.miniTop{
    height: 20px;
    width : 20px;
    margin-right: 30px;
    float : left;
}

#capaDinero{
    display:none;
    width:200px;
    height:50px;
    position:absolute;
}

.iconoCash{
   height:20px;
   width:20px;
   float:left;
   background-image:url("/design/img/iconos/monedaTop.png");
}

.textoCash{
   height:20px;
   width:80px;
   float:left;
   background: white;
}

.iconoBanco{
   height:20px;
   width:20px;
   float:left;
   background-image:url("/design/img/iconos/cajaFuerteTop.png");
}

.textoBanco{
   height:20px;
   width:80px;
   float:left;
   background: white;
}

#capaTiempo{
    display:none;
    width:400px;
    height:50px;
    position:absolute;
}

.cajitaSeccionTop{
   height:50px;
   width:100px;
   float:left;
   margin-left: 5px;
   border: 1px solid black;
   margin-bottom:5px;
}

.nivelSeccionTop{
   height:25px;
   margin-top:20px;
}

.iconoNivel{
   height:25px;
   width:33px;
   float:left;
   background-image:url("/design/img/botones/nivel.png");
}

.textoNivel{
   height:25px;
   width:67px;
   float:left;
   text-align: center;
}

.respetoSeccionTop{
   height:25px;
   margin-top:20px;
}

.iconoRespeto{
   height:25px;
   width:33px;
   float:left;
   background-image:url("/design/img/botones/exp.png");
}

.textoRespeto{
   height:25px;
   width:67px;
   float:left;
   text-align: center;
}

.popularidadSeccionTop{
   height:25px;
   margin-top:20px;
}

.iconoPopularidad{
   height:25px;
   width:33px;
   float:left;
   background-image:url("/design/img/iconos/popularidadIcono.png");
}

.textoPopularidad{
   height:25px;
   width:67px;
   float:left;
   text-align: center;
}

.experienciaSeccionTop{
   height:50px;
   width:100px;
   float:left;
}

.iconoExp{
   height:25px;
   width:33px;
   float:left;
   background-image:url("/design/img/botones/exp.png");
}

.textoExp{
   height:25px;
   width:67px;
   float:left;
   text-align: center;
}

.barraExp{
    height:20px;
    width:100px;
    float:left;
    background-image:url("/design/img/botones/barraExpFondo.png");
}

#expAhora{
    height:20px;
    width:100px;
    float:left;
    background-image:url("/design/img/botones/barraExpAhora.png");
}

.iconoSalud{
   height:25px;
   width:33px;
   float:left; 
   background-image:url("/design/img/botones/corazon.png");
}

.textoSalud{
   height:25px;
   width:67px;
   float:left; 
   text-align: center;
}

.barraSalud{
    height:20px;
    width:100px;
    float:left;
    background-image:url("/design/img/botones/barraSaludFondo.png");
}

#saludAhora{
    height:20px;
    width:100px;
    float:left;
    background-image:url("/design/img/botones/barraSaludAhora.png");
}

.iconoEnergia{
   height:25px;
   width:33px;
   float:left; 
   background-image:url("/design/img/botones/energia.png");
}

.textoEnergia{
   height:25px;
   width:67px;
   float:left;
   text-align: center;
}

.barraEnergia{
    height:20px;
    width:100px;
    float:left;
    background-image:url("/design/img/botones/barraEnergiaFondo.png");
}

#energiaAhora{
    height:20px;
    width:100px;
    float:left;
    background-image:url("/design/img/botones/barraEnergiaAhora.png");
}

.contenedor1{
    width: 50%;
    float: left;
}

.contenedor2{
    width: 50%;
    float: left;
}

.quarterWidth{
    width: 50%;
    float:left;
}

.todoWidth{
    width : 100%;
    float : left;
}

#capaBolsa{
    display:none;
    width:500px;
    height:200px;
    position:absolute;
}

#nuevoBoxBolsa{
    width:30%;
    margin:2px;
    height:120px;
    text-align:center;
    float:left;
    background:white;
    border: 1px solid black;
}

/* REFERENTES A LA ZONA */

#moduloZona{
    display: table;
    width: 100%;
}

.contenido{
    margin-top:10px;
    width: 100%;
    min-width: 843px;
    overflow: hidden;
    padding: 0 0 20px;

}

.tituloZona{
    width: 100px;
    height: 50px;
    background-image: url("/design/img/iconos/cartelZona.png");
    background-repeat: repeat-y;
    text-align: center;
    float : left;
    position: relative;
    margin : auto;
    color: white;
}

.irA{
   width: 300px; 
   height : 50px;
   float : left;
   background-image: url("/design/img/iconos/cartelIrACiudad.png");
   text-align: center;
   color: white;
}

#seccionMessage{
    background:#dadada;
    height: 50px;
}

.seccionMapaCiudad{
    float:left;
    position: relative;
    width: 440px;
    height: 455px;
    background-image: url("/design/img/mapas/puertollano.png");
}

.seccionMapaZona{
    top: 20px;
    margin:auto;
    float:left;
    position: relative;
    width: 440px;
    height: 455px;
    text-align: center;
    background:yellowgreen;
}

.seccionDescripcionZona{
    float:left;
    position: relative;
    width: 384px;
    height: 100%;
    text-align: center;
    margin-left: 15px;
    margin-top: 75px;
}

.seccionDescripcionSpot{
    float:left;
    position: relative;
    width: 384px;
    height: 100%;
    text-align: center;
    margin-left: 15px;
    display:none;
}
.secundarioPeque{
    border:2px solid black;
    border-radius: 30px;
    width: 190px;
    height: 190px;
}

#ImagenMensaje{
    margin:10px 50px;
}

#ContenidoMensaje{
    text-align: left;
    margin: 10px;
}

.cajitaSpot{
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 33px;
    height: 33px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cajitaSpot:hover{
    opacity:0.5;
}

.filaA{
   top: 1px;
}

.filaB{
   top: 35px;
}

.filaC{
   top: 69px;
}

.filaD{
   top: 103px;
}

.filaE{
   top: 137px;
}

.filaF{
   top: 171px;
}

.filaG{
   top: 205px;
}

.filaH{
   top: 239px;
}

.filaI{
   top: 273px;
}

.filaJ{
   top: 307px;
}

.filaK{
   top: 341px;
}

.filaL{
   top: 375px;
}

.filaM{
   top: 409px;
}

.columna1{
    left: 1px;
}

.columna2{
    left: 35px;
}

.columna3{
    left: 69px;
}

.columna4{
    left: 103px;
}

.columna5{
    left: 137px;
}

.columna6{
    left: 171px;
}

.columna7{
    left: 205px;
}

.columna8{
    left: 239px;
}

.columna9{
    left: 273px;
}

.columna10{
    left: 307px;
}

.columna11{
    left: 341px;
}

.columna12{
    left: 375px;
}

.columna13{
    left: 409px;
}
.tipocultura{
    background: white;
}

.tipoiglesia{
    background: blueviolet;
}

.tipobanco{
    background: chartreuse;
}
.tipobar{
    background: highlight;
}

.tipoplaza{
    background: salmon;
}

.tipodeporte{
    background: green;
}

.tipoaventura{
    background: orange;
}

.tipocerrajeria{
    background: darkred;
}

.tipoapuestas{
    background: royalblue;
}

.tipotiendamascotas{
    background-image: url("/design/img/iconos/etiquetaTiendaMascotas.png");
}

.seccionDescripcionZonaTexto{
    width: 380px;
    height: 155px;
    margin: 0 10px;
}

.seccionDescripcionZonaImagen{
    width: 380px;
    height: 300px;
    border-collapse: separate;
    border-spacing: 0 3px;
    clear: left;
    margin: 0 10px;
}

/* REFERENTE A DIBUJAR LA CIUDAD */
#barrio1zona1{ /*Cañamares:Asdrubal*/
    top: 330px;
    left: 146px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 60px;
    height: 110px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}

#barrio1zona2{/*Cañamares:Terri*/
    top: 335px;
    left: 15px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 130px;
    height: 105px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio2zona1{/*Libertad:Gran Capitan*/
    top: 297px;
    left: 207px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 50px;
    height: 63px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio2zona2{/*Libertad:San Jose*/
    top: 303px;
    left: 258px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 49px;
    height: 57px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio2zona3{/*Libertad:Pozo Norte*/
    top: 361px;
    left: 207px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 100px;
    height: 79px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio3zona1{/*Constitucion:Abulagar*/
    top: 350px;
    left: 308px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 80px;
    height: 90px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio4zona1{/*El Poblado:El Poblado*/
    top: 270px;
    left: 308px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 130px;
    height: 79px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio5zona1{/*Santa Ana:Salesianos*/
    top: 250px;
    left: 258px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 49px;
    height: 52px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio5zona2{/*Santa Ana:Tauro*/
    top: 250px;
    left: 217px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 40px;
    height: 46px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio5zona3{/*Santa Ana: La Copa*/
    top: 197px;
    left: 202px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 70px;
    height: 52px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio6zona1{/*Centro Sur:Ayuntamiento*/
    top: 297px;
    left: 146px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 60px;
    height: 32px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio6zona2{/*Centro Sur:Paseo de San Gregorio*/
    top: 250px;
    left: 146px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 70px;
    height: 46px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio6zona3{/*Centro Sur:Paseo El Bosque*/
    top: 197px;
    left: 146px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 55px;
    height: 52px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio7zona1{/*Las Mercedes:El Pino*/
    top: 285px;
    left: 30px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 115px;
    height: 49px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio8zona1{/*El Carmen:El Carmen*/
    top: 197px;
    left: 60px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 85px;
    height: 87px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio9zona1{/*Fraternidad: Las 600*/
    top: 30px;
    left: 87px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 125px;
    height: 166px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio9zona2{/*Fraternidad: PAU*/
    top: 1px;
    left: 100px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 180px;
    height: 28px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio9zona3{/*Fraternidad:Recinto Ferial*/
    top: 30px;
    left: 213px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 67px;
    height: 130px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio10zona1{/*Ciudad Jardin:Ciudad Jardin*/
    top: 30px;
    left: 1px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 85px;
    height: 80px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*AHORA LOS BARRIOS ENTEROS, PARA LA VENTANA DE CREACION DE PERSONAJE*/
#barrio1{/*Cañamares*/
    top: 335px;
    left: 15px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 190px;
    height: 105px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio2{/*Libertad*/
    top: 297px;
    left: 207px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 96px;
    height: 143px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio3{/*Constitucion*/
    top: 350px;
    left: 304px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 80px;
    height: 90px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio4{/*El Poblado*/
    top: 270px;
    left: 308px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 130px;
    height: 79px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio5{/*Santa Ana*/
    top: 197px;
    left: 207px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 100px;
    height: 105px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio6{/*Centro Sur*/
    top: 197px;
    left: 146px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 60px;
    height: 136px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio7{/*Las Mercedes*/
    top: 285px;
    left: 30px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 115px;
    height: 49px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio8{/*El Carmen*/
    top: 197px;
    left: 60px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 85px;
    height: 87px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio9{/*Fraternidad*/
    top: 1px;
    left: 87px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 193px;
    height: 195px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#barrio10{/*Ciudad Jardin*/
    top: 30px;
    left: 1px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    position: absolute;
    width: 85px;
    height: 80px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.barrio1{
    background: pink;
}

.barrio2{
    background: white;
}

.barrio3{
    background: orange;
}

.barrio4{
    background: aquamarine;
}

.barrio5{
    background: red;
}

.barrio6{
    background: yellow;
}

.barrio7{
    background: brown;
}

.barrio8{
    background: purple;
}

.barrio9{
    background: greenyellow;
}

.barrio10{
    background: grey;
}


/* MEJORANDO LA VENTANA DE PERSONAJE */

#infoObjeto0{
    background-color:greenyellow;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
}

#infoObjeto1{
    background-color:greenyellow;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
}

#infoObjeto2{
    background-color:greenyellow;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
}

#infoObjeto3{
    background-color:greenyellow;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
}

#infoObjeto4{
    background-color:greenyellow;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
}

#infoObjeto5{
    background-color:greenyellow;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
}

#infoObjeto6{
    background-color:greenyellow;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
}

#infoObjeto7{
    background-color:greenyellow;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
}

#infoReliquia104{
    background-color:greenyellow;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
}

#infoReliquia107{
    background-color:greenyellow;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
}

#infoReliquia108{
    background-color:greenyellow;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
}

/* DENTRO DE UN SPOT */
.seccionSpotImagen{
    border-collapse: separate;
    border-spacing: 0 3px;
    float:left;
    margin: 0px 10px 10px 10px;
}

.seccionSpotOpciones{
    width: 380px;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0 3px;
    clear: left;
    margin-left: 10px;
}

.seccionSpotInfo{
    width: 380px;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0 3px;
    float: right;
    margin: 0 10px;
}

.mapaMini{
    background-image: url("/design/img/iconos/mapaMini.png");
    float:left;
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.telefonoMini{
    background-image: url("/design/img/iconos/telefonoMini.png");
    float:left;
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.relojMini{
    background-image: url("/design/img/iconos/relojMini.png");
    float:left;
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.seccionInsignia{
    margin-top: 30px;
    text-align: center;
}

.fotoInsignia{
    width : 80px;
    height : 60px;
    padding-left:40%;
}

.textoInsignia{
    background: white;
    margin-top:10px;
}

.insigniaBox{
    width: 76px;
    height: 60px;
    margin: 10px 10px;
    border:1px solid white;
}

.opcionesTienda{
    float: left;
    margin-right: 5px;
    width:100px;
    border-radius: 10px;
    background: goldenrod;
}

.opcionesTiendaCheckbox{
    float: left;
}

.opcionesTiendaTitulo{
    background: lightskyblue;
    border-radius: 10px 10px 0px 0px;
}

.submitTienda{
    clear : left; 
}

#botonesComprarVender{
    padding-top: 10px;
}

.opcionBox{
    width: 100px;
    height: 100px;
    margin: 10px 10px;
    background: yellow;
    border:1px solid black;
}

.miniAlbum{
    width: 50px;
    height: 50px;
    float:left;
    /*border:1px solid black;*/
}

#albumFicha{
    width: 76px;
    height: 60px;
    margin: 10px 10px;
    float:left;
}

#fichaDescripcion{
    width : 95%;
    height: 140px;
    padding : 5 10;
}

#fichaPie{
    width : 90%;
    height: 20px;
    padding : 5 10;
    text-align : right;
}

#vender{
    display : none;
}

#bosses{
    display : none;
}

#insignias{
    display : none;
}

#aeromodelismo{
    display : none;
}

#reliquias{
    display : none;
}

#botonReliquias{
    display:none;
}

#botonAeromodelismo{
    display:none;
}

#seccion2Ranking{
    display:none;
}

#sexos{
    height: 110px;
    width: 110px;
}

#Hombre{
    height: 50px;
    width: 50px;
    float:left;
    background-image: url("/design/img/iconos/hombre.png");
}

#Mujer{
    height: 50px;
    width: 50px;
    float:left;
    background-image: url("/design/img/iconos/mujer.png");
    margin-left: 5px;
}

#dibujilloPersonaje{
    margin-left: 125px;
    height: 150px;
    width: 150px;
    background-image: url("/design/img/iconos/personajilloHombre.png");
}

.seccionPersonajilloInicial{
    width: 380px;
    height: 260px;
    border-collapse: separate;
    border-spacing: 0 3px;
    clear: left;
    margin: 0 10px;
}

.textoLibertad, .textoConstitucion, .textoElPoblado, .textoSantaAna, .textoLasMercedes, .textoElCarmen, .textoCentroSur, .textoFraternidad, .textoCiudadJardin{
    display: none;
}

.tituloSpot{
    text-align: center;
}

.relojMini{
    background-image: url("/design/img/iconos/relojArena.png");
    background-repeat: repeat-x;
    width: 20px;
    height: 20px;
    float:left;
    margin-right: 2px;
}

.monedaTienda{
    background-image: url("/design/img/iconos/monedaTop.png");
    background-repeat: repeat-x;
    width: 20px;
    height: 20px;
    float:left;
    margin-right: 2px;
    border-radius: 0px 0px 0px 10px;
}

.corazonTienda{
    background-image: url("/design/img/iconos/corazonMini.png");
    background-repeat: repeat-x;
    width: 20px;
    height: 20px;
    float:left; 
    margin-left: 6px;
    margin-right: 2px;
}

.semiTransparente{
    background : rgba(255, 249, 192, 0.7); 
    padding : 20px;
    border-radius: 0px 10px 10px 10px;
}

.textoDependiente{
    background : rgba(255, 255, 255, 0.7); 
    padding : 10px 20px 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    float : left;
    width : 220px;
}

.imagenDependiente{
 border-radius: 90px;
 overflow: hidden;
 margin-bottom: 10px;
}

.precioTienda{
    float:left;
}

.vidaTienda{
    float:left;
}

.tagTiendaComprar{
    width: 75px;
    height:33px;
     border-radius: 15px 15px 0px 0px;
     background : rgba(255, 249, 192, 0.7); 
     border-bottom: 0px;
     border-left: 0px;
}

.tagTiendaVender{
    width: 75px;
    height:33px;
     border-radius: 15px 15px 0px 0px;
     background : white;
     border-bottom: 0px;
}

.submitTienda{
    padding-top: 15px;
}
.botonBarComprar{
    width: 100px;
    height:33px;
    background-image: url("/design/img/botones/submitCarrilBici.png");
}

.botonApostar{
    width: 100px;
    height:33px;
    background-image: url("/design/img/botones/botonTiendaComprar.png");
}

.botonTiendaComprar{
    width: 100px;
    height:33px;
    background-image: url("/design/img/botones/botonTiendaComprar.png");
}

.botonTiendaVender{
    width: 100px;
    height:33px;
    background-image: url("/design/img/botones/submitCarrilBici.png");
}

.botonCerrajeria{
    width: 100px;
    height:33px;
    background-image: url("/design/img/botones/llave.png");
}

.botonParroquia{
    width: 100px;
    height:33px;
    background-image: url("/design/img/botones/submitCarrilBici.png");
}

.botonAventura{
    width: 100px;
    height:33px;
    background-image: url("/design/img/botones/submitCarrilBici.png");
}

.opcionSpot{
    display : none;
}

.botonCarrilBici{
    width: 53px;
    height:33px;
    background-image: url("/design/img/botones/submitCarrilBici.png");
}
